name: Deploy Application Assets to GitHub Pages

on:
  release:
    types: [published]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write    
      pages: write       
      id-token: write    
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - name: Check master branch
        uses: actions/checkout@v4
        with:
          ref: master 
          
      # Install zip tool
      - name: Install zip tool
        run: sudo apt-get install zip -y
        
      # 1. Create and prepare resources for deployment
      - name: Create and prepare resources for deployment
        run: |
          mkdir pages_assets
          VERSION=${{ github.ref_name }} # e.g., v3.0.0
          
          # 2. Convert version string into JSON array [x, y, z]
          VERSION_NUM=$(echo "$VERSION" | sed 's/^v//')
          VERSION_ARRAY=$(echo "$VERSION_NUM" | tr '.' ',' | sed 's/\(.*\)/[\1]/')
          
          PAGES_URL_ROOT="https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/"
          DOWNLOAD_FILE="pyrepl_${VERSION}-win.zip" 
          
          # Create version.json (use VERSION_ARRAY variable)
          echo "{\"latest_version\": $VERSION_ARRAY, \"download_url\": \"${PAGES_URL_ROOT}${DOWNLOAD_FILE}\", \"notes\": \"Windows Installer Pack\"}" > pages_assets/version.json
          
          # Clone License.txt
          cp "LICENSE.txt" pages_assets/
          
          # 3. Create pyrepl_vx.y.z.zip
          zip -r pages_assets/${DOWNLOAD_FILE} \
            "HeyheyEason PyREPL/data" \
            "HeyheyEason PyREPL/dist/windows"
          
      # 4. Set and activate Pages 
      - name: Set and activate GitHub Pages
        uses: actions/configure-pages@v4
        with:
          enablement: true 
          source_branch: 'master'
          
      # 5. Upload to Artifact
      - name: Upload Pages deployment pack
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'pages_assets'
          
      # 6. Deploy to Pages 
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4